@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --primary-light: #003a5c2d;
}

body {
  font-family: 'Segoe UI', Helvetica, sans-serif;
}

.fade-up {
  opacity: 0;
  transform: translateY(60px);
  transition: opacity 1.8s ease, transform 1.2s ease;
}

.fade-up.visible {
  opacity: 1;
  transform: translateY(0);
}

.custom-cursor {
  width: 50px;
  /* Circle size */
  height: 50px;
  background-color: white;
  border-radius: 50%;
  position: fixed;
  pointer-events: none;
  /* Prevent interference with interactions */
  transform: translate(-50%, -50%);
  /* Center the circle on the cursor */
  /* z-index: 1000; */
  /* Ensure it appears above all elements */
}

.zoom-in {
  transform: scale(1.9);
  transition: transform 0.3s ease-in-out;
}

.montserrat {
  font-family: 'Montserrat', sans-serif;
}

@layer base {
  :root {
    --radius: 0.5rem;
  }
}